{
  "parser": "@typescript-eslint/parser",
  "rules": {
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "no-shadow": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "no-promise-executor-return": "off",
    "import/prefer-default-export": "off",
    "prefer-template": "warn",
    "no-plusplus": "off",
    "no-restricted-syntax": "off",
    "prefer-destructuring": "warn",
    "react/function-component-definition": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".tsx", ".jsx"]
      }
    ]
  },
  "env": {
    "browser": true
  },
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "airbnb",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript",
    "plugin:prettier/recommended"
  ]
}
