
.linkPreviewContainer {
    display: flex;
    cursor: pointer;
}

.linkPreviewContainer:hover {
    opacity: 0.8;
}

.linkPreviewContainer:focus{
    outline: 2px solid rgb(60, 132, 244);
    padding: 8px;
}

.previewBox {
    width: 600px;
    /*width: 60%;*/
    height: 80px;
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0 5px 10px;
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

.previewImage {
    min-width: 60px;
    height: 100%;
    border-radius: 8px;
    object-fit: contain;
    padding-right: 10px;
}

.previewTextWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5px;
    width: 100%;
    height: 100%;
}

.previewTitle {
    color: black;
    font-size: 12px;
    font-weight: 700;
}

.previewDescription {
    color: black;
    font-size: 12px;
    font-weight: 200;
    text-align: start;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.closePreview {
    position: absolute;
    top: 0;
    width: 15px;
    height: 15px;
    cursor: pointer;
    color: lightgray;
}

.closePreview:hover{
    color: darkgray;
    font-weight: 700;
}